<nav class="mb-1 navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
              <a class="navbar-brand">Node</a>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Времето</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users">Users</a>
                </li>
              </ul>
            </nav>